body,html{
    margin-bottom: 0px;
}

.wallpaper{
    background-image: url(../img/ff1.jpg);
    background-position: top center;
    background-size: cover;
    height: 60vh;
    color: #fff;
    text-align: center;
}

.jumbotron {
    background: -webkit-radial-gradient(50% 25%, ellipse cover, rgba(25,92,116,0.85), rgba(41,28,66,0.85) 100%);
    height: 60vh;
    width: 100%;
    position: relative;
}

.w-text{
    padding-top: 6em;
}
.w-text h1{
    font-size: 3rem;
    font-weight: bold;
}

.w-text .btn{
    background-color: transparent;
    border: 2px solid #9ED5FF;
    color: #9ED5FF;
    box-shadow: none !important;
    font-weight: bold;
}

.w-text .btn:hover{
    background-color: transparent;
    border-color: #fff;
    color: #fff;
}

.btn-search{
    background-color: transparent !important;
    border: 2px solid #9ED5FF !important;
    color: #9ED5FF !important;
    box-shadow: none !important;
    font-weight: bold !important;
    transition: 0.2s all;
}

.btn-search:hover{
    background-color: transparent !important;
    border-color: #fff !important;
    color: #fff !important;
}

.navbar{
    border-radius: 0;
}

.bg{
    background-color: #131922;
}

.textblocks{
    margin: 0 auto;
    padding: 80px 0 80px;
    width: 100%;
    max-width: 1160px;
    overflow: hidden;
    color: #fff;
    height: 340px;
}

.blocks{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 30px;
}
.blocks h3{
    font-size: 22px;
    font-weight: 400;

}

.blocks p{
    font-size: 18px;
    color: #ACB4BF;
}

.block{
    width: 32%;
    margin-right: 50px;
}


.page-footer{
    height: 250px !important;
    background-color: #131922 !important;
    width: 100%;
    color: #ACB4BF;
    font-size: 3em;
    padding-top: 80px;
    text-transform: uppercase;
    /* position: absolute;
    bottom: 0; */
}

.page-footer h4{
    font-weight: 700 !important;
    margin-right: 50px;
}

.icons{
    font-size: .8em;

}

.ratings.card{
    margin-left: 0px;
    color: #131922;
}

.ratings{
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    width: 86%;
    padding-top: 5px;
    padding-bottom: 0px;
}

.card-login .form {
    min-height: 370px;
}


.card-login .login-header {
    background-color: #131922 !important;
    color: #9ED5FF !important;
}

.ratings .fa{
    color: #131922 !important;
}

.ratings h5{
    line-height: 2em;
    margin-left: 0px;
    font-weight: bold;
}

.ratings .card{
    padding-top: 15px !important;
    border-radius: 0 5px 0px 5px !important;
}

.my_list_card {
    width: 100%;
    border-radius: 5px;
    height: 420px !important;
    background-size: cover;
    background-position: top center;
    transition: 0.2s all;
    display: flex;
    align-items: baseline;
    justify-content: center;
    
}

.my_list_card:hover{
    filter: grayscale(50%);
}

.my_list_card:hover a{
    filter: grayscale(0%) !important;
} 

.my_list_card a{
    align-self: baseline;
    margin-top: auto;
    margin-bottom: 15px;
}

.comment {
    min-width: 250px;
    min-height: 135px;
    background-color: #e2e2e2;

}