{% extends 'base.html' %}
{% block content %}
    <div class="wallpaper">
      <div class="jumbotron">
        <div class="container w-text">
          <h1 class="display-4">Deciding what to watch next?</h1>
          <p class="lead">Discover and track new movies.</p> 
          <p class="lead">
            <a class="btn btn-primary btn-lg mt-4" href="#" role="button">Start exploring</a>
          </p>
        </div>
      </div>
    </div>

    <div class="bg">
      <div class="textblocks">
        <div class="blocks">
          <div class="block">
            <h3>Tired of bad recommendations?</h3>
            <p>Tons of websites offer recommendations but fail to provide good ones. Instead of picking movies for you, we make it super easy to discover great stuff yourself.</p>
          </div>
          <div class="block">
            <h3>There's a better way to discover.</h3>
            <p>We’ve collected movie data from around the web so you don’t have to. Just tell us what kind of movies you’re looking for and we’ll give you the best there are.</p>
          </div>
          <div class="block">
            <h3>Easy to use tracklist.</h3>
            <p>Track movies you want to see in a list. Living valley had silent eat merits esteem bed. In last an or went wise as left. Visited civilly am demesne so colonel.</p>
          </div>
        </div>
      </div>
    </div>

    <div class="container mt-5">
      <h2 class="mb-3">Marvel movies</h2>
        <div class="row ">
            <div class="col-lg-12 d-flex justify-content-around flex-wrap">
                {% for pelicula in peliculas %}
                <div class="card mr-5 mb-5" style="width: 18rem;">
                    <img src="{{pelicula.poster}}" class="card-img-top" alt="poster">
                    <div class="card-body">
                      <h5 class="card-title">{{ pelicula.title }}</h5>
                      <div class="d-flex justify-content-between">
                        <h6 class="card-title"><i class="fa fa-calendar"></i> {{ pelicula.year }}</h6>
                        <a href="{% url 'movie_detail' title=pelicula.title %}" class="btn btn-sm btn-info "><i class="fa fa-eye"></i></a>
                      </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <h2 class="mb-3">Lord of the Rings movies</h2>
        <div class="row ">
            <div class="col-lg-12 d-flex justify-content-around flex-wrap">
                {% for pelicula in peliculas2 %}
                <div class="card mr-5 mb-5" style="width: 18rem;">
                    <img src="{{pelicula.poster}}" class="card-img-top" alt="poster">
                    <div class="card-body">
                      <h5 class="card-title">{{ pelicula.title }}</h5>
                      <div class="d-flex justify-content-between">
                        <h6 class="card-title"><i class="fa fa-calendar"></i> {{ pelicula.year }}</h6>
                        <a href="{% url 'movie_detail' title=pelicula.title %}" class="btn btn-sm btn-info "><i class="fa fa-eye"></i></a>
                      </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <h2 class="mb-3">John Wick movies</h2>
        <div class="row">
            <div class="col-lg-12 d-flex justify-content-around flex-wrap">
                {% for pelicula in peliculas3 %}
                <div class="card mr-5 mb-5" style="width: 18rem;">
                    <img src="{{pelicula.poster}}" class="card-img-top" alt="poster">
                    <div class="card-body">
                      <h5 class="card-title">{{ pelicula.title }}</h5>
                      <div class="d-flex justify-content-between">
                        <h6 class="card-title"><i class="fa fa-calendar"></i> {{ pelicula.year }}</h6>
                        <a href="{% url 'movie_detail' title=pelicula.title %}" class="btn btn-sm btn-info "><i class="fa fa-eye"></i></a>
                      </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}