{% extends 'base.html' %}
{% block content %}
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-4">
                <div class="">
                    <img src="{{ poster }}" alt="" class="img-responsive">
                </div>
                <div class="ratings card container mt-0">
                    <h5><i class="fa fa-imdb fa-2x"></i></h5> <h5 class="mr-0">{{ imdb }}</h5>
                    <h5><i class="fa fa-star fa-2x"></i></h5> <h5>{{ metascore }}</h5>
                    <h5><i class="fa fa-certificate fa-2x"></i></h5> <h5>{{ rtomatoes }}</h5>
                </div>
            </div>
            <div class="col-md-8">
                <h2 class="title mt-0 mb-2">{{ title }} <span class="badge badge-warning ">{{ rated }}</span></h2>
                <h5 class="badge badge-dark mb-0 mt-0">{{ genre }}</h5>
                <h3>{{ plot }}</h3>
                <h4><b>Director:</b> {{ director }}</h4>
                <h5><b>Released:</b> {{ released }}</h5>
                <h5><b>Runtime:</b> {{ runtime }} </h5>
                <h4><b>Actors:</b> {{ actors }}</h4>
                <h4><b>Awards:</b> {{ awards }}</h4>
                {% if user_not_logged %}
                <a href="{% url 'login' %}" class="btn btn-danger btn-lg mt-4 text-center font-weight-bold"> 
                    Login to add to your list
                </a>
                {% elif movie_already_added %}
                <button class="btn btn-info btn-lg mt-4 text-center font-weight-bold"> 
                    <i class="fa fa-check"> </i>  Added
                </button>
                {% else %}
                <form action="#" method="POST">
                    {% csrf_token %}
                    <input type="text" name="movie"  value="{{ title }}" hidden>
                    <button class="btn btn-primary btn-lg mt-4 text-center font-weight-bold"> 
                        <i class="fa fa-plus"> </i>  Add to list
                    </button>
                </form>
                {% endif %}
            </div>
        </div>
        <hr></hr>
        <div class="row">
            <h2 class="pl-2 mr-4">Comments </h2> <a href="" class="btn btn-info btn-sm mt-4 mb-5"><i class="fa fa-comment"> </i>   Add comment</a>
            <hr></hr>
            <div class="col-md-12">

            </div>
        </div>
    </div>
{% endblock %}